html, body {
  background-image: url("../img/background.png");
  margin: 0px;
}

.contener {
  width: 1000px;
  margin: auto;
}

.button-off {
  width: 114px;
  height: 117px;
  background-image: url("../img/switch_off.png");
  cursor: pointer;
}

.button-on {
  width: 114px;
  height: 117px;
  background-image: url("../img/switch_on.png");
  cursor: pointer;
}

.blub-off {
  width: 150px;
  height: 150px;
  background-image: url("../img/bulb_off.png");
}

.blub-on {
  width: 150px;
  height: 150px;
  background-image: url("../img/bulb_on.png");
}
